* {
	box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html {
  height: 100%;
}

body {
    width: 100%;
   	font-family: 'Work Sans', sans-serif;
    color: black;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 250px;
    display: block;
    text-align: center;
}

.logo img {
    margin: 0 auto;
    padding-top: 20px;
}

.logo h1 {
    text-align: center;
    margin-bottom: 20px;
}

.logo:hover h1 {
    color: magenta;
}

h1 {
	padding: 5px;
    color: black;
    font-size: 21px;
    text-align: left;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}

header nav {
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid yellow;
    margin-left: -5px;
}

header nav ul li a {
    padding: 5px 50px;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid transparent;
    border-bottom: none;
}

header nav ul li a:hover {
   border: 2px solid yellow;
    border-bottom: none;
}

.container{
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    flex: 1 0 auto;
}

/* --------START - LITTLE DESCRIPTION-------- */

.start{
    width: 850px;
    margin: 0 auto;
    margin-top: 40px;
    border: 10px double magenta;
    display: flex;
}

.start i {
    margin-right: 10px;
   }

.left {
    margin: 0;
    float: left;
}

.right{
    margin: 0;
    font-size: 35px;
    margin-left: 20px;
    float: right;
}

.right .small{    
    font-size: 30px;
    line-height: 70px;
   
}

/* --------PROJECTS VIEW-------- */

#projects {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-flow: column wrap;
    margin-top: 80px;
}

#projects h2 {
    font-size: 32px;
    text-decoration: underline;
    margin: 0;
    margin-left: 90px;
}

.gwm{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 90px;
  
   }

#projects div {
    font-size: 18px;
    margin: 10px;
    
}

#projects img {
    width: 400px;
    height: 400px;
    border-bottom: 1px solid black;
    transition: opacity .2s ease-in;
}

#projects img:hover {
    opacity: 0.6;
    
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
}

.boxes div {
    border: 1px solid black;
}

.boxes div p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
   }

.boxes div p.tit2{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #454545;
   }

/* --------ABOUT - CV-------- */

#about {
    margin: 0 auto;
    margin-top: 40px;
    width: 850px;
    font-family: 'Work Sans', sans-serif;
    color: black; 
}
.about {
    margin: 0 auto;
    margin-top: 20px;
    width: 850px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    border: 5px double cyan;    
}

#about h2 {
    font-size: 32px;
    text-decoration: underline;
    margin: 0;
}

#about .CV{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
  
   }

#about .PD {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 5px;
   }

#about i {
    margin-right: 10px;
   }

#about h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 5px;
    margin-top: 30px;
   }

#about p {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
   }
#about p a{
    color: black;
    text-decoration: none;
   }

#about li{
    text-decoration: none;
    list-style: circle;
    list-style-position: inside;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
   }

#about .nodot li{
    text-decoration: none;
    list-style: none;
   }

#about #WorkExperience li{
    text-decoration: none;
    list-style: circle;
    list-style-position: inside;
    margin-left: 0px;
   }


/* --------CONTACT-------- */

#contact {
    width: 850px;
    height: 810px;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'Work Sans', sans-serif;
    color: black; 
}

#contact h2 {
    font-size: 32px;
    text-decoration: underline;
    margin: 0;
}

.contact {
    width: 850px;
    height: 350px;
    margin: 0 auto;
    margin-top: 20px;
    color: black;
    align-content: center;
    text-align: center;
    border: 8px double yellow;
}

.contact i {
    margin-right: 10px;
   }

.contact h3 {
  font-size: 35px;
  text-decoration: underline;
  padding-top:20px;
}

.contact h4 {
  font-size: 22px;
  text-align: left;
  padding-left: 120px;
  padding-top: 15px;  
}

.contact p {
  font-size: 18px;
  text-align: left;
  padding-left: 120px;
  padding-top: 15px;
  margin-bottom: 5px;
}

.contact a {
 color: black;
 text-decoration: none;
}

/* --------FOOTER-------- */

footer {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 12px;
    align-content: center;
    text-align: center;
}

footer p{
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 14px;
    align-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a i{
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    color: white;
}


/* --------SAMSUNG-------- */

.bigbox{
    width: 1000px;
    display: flex;
    flex-flow: column;
}

.bigbox h3{
    margin: 40px;
    font-size: 30px; 
    text-decoration: underline;
}

.description{
    width: 300px;
    margin-bottom: 40px;
    border-left: 1px solid cyan;
    float: right;
    padding-left: 5px;
    font-size: 18px;  
}

.design{
    width: 700px;
    margin: 0;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.insidebox {
    width: 100%;
}

.design img {
    width: 200px;
    margin: 10px;
} 


/* --------ATM-------- */

.design .kiosk{
    width: 300px;
    margin-bottom: 40px;
}

.design .atmcel {
    margin-bottom: 50px;
} 


/* --------MOOD by Christofle-------- */

.design .mood{
    width: 300px;
    margin-bottom: 20px;
}


/* --------CachoPan-------- */

.design .cacho{
    width: 400px;
    margin-bottom: 20px;
}


/* --------Braccialini-------- */

.design .braccia{
    width: 400px;
    margin-bottom: 20px;
}


/* --------Animated Menu-------- */

.design .menuhb{
    width: 500px;
    margin-bottom: 20px;
}


/* --------------TABLET SIZE------------------------------- */

@media (max-width: 700px) {

header nav ul li a {
    font-size: 18px;
}

/*START - LITTLE DESCRIPTION*/

.start{
    width: 450px;
    border: 8px double magenta;
}

.right{
    font-size: 30px;
}

.right .small{    
    font-size: 21px;
}

/*PROJECTS VIEW*/

#projects {
    width: 650px;
}

#projects h2 {
    font-size: 28px;
}

.gwm{
    font-size: 18px;  
   }

#projects div {
    font-size: 16px;    
}

.boxes div p {
    font-size: 16px;   
   }

.boxes div p.tit2{    
    font-size: 14px;   
   }

/*ABOUT - CV*/

#about {
    width: 650px;
}
.about {
    width: 650px;    
}

#about h2 {
    font-size: 28px;
}

#about .CV{
    font-size: 18px;
   }

#about .PD {
    font-size: 20px;
   }

#about h3 {
    font-size: 21px;
   }

#about p {
    font-size: 16px;
   }

#about li{
    font-size: 16px;
   }  

/*CONTACT*/

#contact {
    width: 650px;
}

#contact h2 {
    font-size: 28px;
}

.contact {
    width: 650px;
    border: 5px double yellow;
}
    
.contact h3 {
  font-size: 24px;
}

.contact h4 {
  font-size: 22px;
  text-align: left;
  padding-left: 120px;
  padding-top: 15px;  
}

.contact p {
  font-size: 18px;
  text-align: left;
  padding-left: 120px;
  padding-top: 15px;
  margin-bottom: 5px;
}

.contact a {
 color: black;
 text-decoration: none;
}

  
    }



/* --------------MOBILE SIZE------------------------------- */

@media (max-width: 375px)) {

header nav ul li a {
    font-size: 14px;
}
    
/*START - LITTLE DESCRIPTION*/

.start{
    width: 250px;
    border: 5px double magenta;
}

.right{
    font-size: 20px;
}

.right .small{    
    font-size: 14px;
}
    
/*PROJECTS VIEW*/

#projects {
    width: 350px;
}

#projects h2 {
    font-size: 21px;
}

.gwm{
    font-size: 16px;  
   }

#projects div {
    font-size: 14px;    
}

.boxes div p {
    font-size: 14px;   
   }

.boxes div p.tit2{    
    font-size: 12px;   
   }
    
/*ABOUT - CV*/

#about {
    width: 350px;
}
.about {
    width: 350px;    
}

#about h2 {
    font-size: 21px;
}

#about .CV{
    font-size: 16px;
   }

#about .PD {
    font-size: 18px;
   }

#about h3 {
    font-size: 20px;
   }

#about p {
    font-size: 14px;
   }

#about li{
    font-size: 14px;
   } 

  
    }
    